<div id="welcome">
  <h3>Welcome! To begin, create a budget below</h3>
  <form id='create-first-budget'>
    <legend>Create Month Budget</legend>
    <input type="number" step=".01" name="budget[income]" min="0" placeholder="monthly income" required>
    <input type="number" step=".01" name="budget[month_budget]" min="0" placeholder="budget" required>
    <input type="text" value="{{startDate}}" name="budget[start_date]" hidden required>
    <input type="submit" class="btn-xs btn-default" value="Submit">
  </form>

  <!-- For calculating percent of income -->
  <!-- <h4>Want to set your budget as a percentage of your income? Input the percentage below to calculate</h4>
  <form id="percentIncome">
    <input type="number" step="1" min="1" max="100" name="calc-percent" placeholder="percentage of income">
    <input type="submit" class="btn-xs btn-default" value="Submit">
  </form> -->
</div>
