<div class="expense">
  <form id="create-expense">
    <legend>Create Expense</legend>
    <input type="number" name="expense[budget_id]" placeholder="Budget ID" required>
    <input type="date" name="expense[date]" required>
    <input type="number" step=".01" name="expense[cost]" placeholder="Cost of Expense" required>
    <select name="expense[expense_category]" required>
      <option value="" disabled selected hidden>Expense Type</option>
      <option value="Rent">Rent</option>
      <option value="Utilities">Utilities</option>
      <option value="Groceries">Groceries</option>
      <option value="Auto/Transportation">Auto/Transportation</option>
      <option value="Shopping/Entertainment">Shopping/Entertainment</option>
      <option value="Restaurant/Dining">Restaurant/Dining</option>
      <option value="Medical">Medical</option>
      <option value="Eduation">Education</option>
    </select>
    <input type="submit" class="btn-xs btn-default" value="Submit">
  </form>

  <br>

  <form id="update-expense">
    <legend>Update Expense</legend>
    <input type="number" name="expense[id]" placeholder="Expense ID" required>
    <input type="date" name="expense[date]" required>
    <input type="number" step=".01" name="expense[cost]" placeholder="Cost of Expense" required>
    <select name="expense[expense_category]" required>
      <option value="" disabled selected hidden>Expense Type</option>
      <option value="Rent">Rent</option>
      <option value="Utilities">Utilities</option>
      <option value="Groceries">Groceries</option>
      <option value="Auto/Transportation">Auto/Transportation</option>
      <option value="Shopping/Entertainment">Shopping/Entertainment</option>
      <option value="Restaurant/Dining">Restaurant/Dining</option>
      <option value="Medical">Medical</option>
      <option value="Eduation">Education</option>
    </select>
    <input type="submit" class="btn-xs btn-default" value="Submit">
  </form>

  <br>

  <form id="index-expenses">
    <legend>View All Expenses</legend>
    <input type="submit" value="View Expenses">
  </form>

  <br>

  <form id="show-expense">
    <legend>View Expense</legend>
    <input type="number" placeholder="Expense ID" name="expense[id]" required>
    <input type="submit" class="btn-xs btn-default" value="Submit">
  </form>

  <br>

  <form id="delete-expense">
    <legend>Delete Expense</legend>
    <input type="number" placeholder="Expense ID" name="expense[id]" required>
    <input type="submit" class="btn-xs btn-default" value="Submit">
  </form>

  <div id="expense-display">
  </div>
</div>
