<div class="budget">
  <h1>Budget Manager</h1>
  <div id="create-prompt"></div>
<br>



<!-- <form id="index-budgets">
  <legend>View All Budgets</legend>
  <input type="submit" value="View Budgets">
</form> -->

</div>
