$icon-font-path: '~bootstrap-sass/assets/fonts/bootstrap/';
@import '~bootstrap-sass/assets/stylesheets/bootstrap';

body {
  background-color: #F4F7E3;
}

.body-content {
  margin-top: 100px;
}

.hidden {
  display: none;
}

.navbar-inverse {
  box-shadow: 0 0 1rem black;
  color: white;
}

.modal-body {
  overflow: hidden;
}

.status {
  border-radius: 3px;
  font-size: 20px;
  left: 50%;
  margin-top: 80px;
  padding: 0 5px;
  position: fixed;
  transform: translateX(-50%);
}
